<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.AlbumDao">
	<resultMap id="albumMap" type="album">
		<id column="album_id" property="id"/>
		<result column="title" property="title"/>
		<result column="cover" property="cover"/>
		<result column="count" property="count"/>
		<result column="score" property="score"/>
		<result column="author" property="author"/>
		<result column="broadcast" property="broadcast"/>
		<result column="brief" property="brief"/>
		<result column="publish_time" property="publishTime"/>
	</resultMap>
	<select id="selectAll" resultMap="albumMap">
		select * from c_album limit #{begin},#{rows}
	</select>
	<insert id="insertAlbum">
		insert into c_album values (#{id},#{title} ,#{cover},#{count},#{score},#{author},
		                          #{broadcast} ,#{brief} ,#{publishTime})
	</insert>
	<select id="selectCount" resultType="Integer">
		select count(*) from c_album
	</select>
	<update id="updateUrl">
		update c_album set cover = #{cover} where album_id = #{id}
	</update>
	<delete id="deleteAlbum">
		delete from c_album where album_id = #{id}
	</delete>
	<update id="updateAlbum">
		update c_album set title=#{title},count=#{count},score=#{score},author=#{author},broadcast=#{broadcast},brief=#{brief},publish_time=#{publishTime}
	</update>
</mapper>
